### all ignore ###
/*
/.**

### not ignore ###
!/.files/
!/.files/.gitconfig
!/.files/.wslconfig
!/.files/Profile.ps1
!/bin/
!/bin/**
!/config/
!/.gitignore
!/install.ps1
!/LICENSE
!/README.md
!/update.ps1
