### all ignore ###
/*
/.**

### not ignore ###
!/.config/
!/.config/**
!/.files/
!/.files/**
!/etc/
!/etc/**
!/nvim/
!/nvim/**
!/.gitignore
!/install.ps1
!/LICENSE
!/Profile.ps1
!/README.md
!/update.ps1
