### all ignore ###
/*
/.**

### not ignore ###
!/.files/
!/.files/.gitconfig
!/.files/.wslconfig
!/.files/Profile.ps1
!/bin/
!/bin/**
!/config/
!/config/autohotkey/
!/config/autohotkey/**
!/.gitignore
!/download.ps1
!/LICNSE
!/README.md
!/update.ps1
