[core]
	quotepath = false
	excludesfile = ~/.gitignore_global
	preloadindex = true
	autocrlf = false
[color]
	ui = auto
[help]
	autocorrect = 1
[user]
	name = knsugiyama
	email = knsugiyama15@gmail.com
[push]
	default = simple
[credential]
	UseHttpPath = true
	helper = manager
[ghq "CODECOMMIT-URL"]
	vcs = git
[fetch]
	prune = true
[ghq]
	root = ~/src
